html {
	height: 100%;
}

body {
	font: 12px/18px Arial, sans-serif;
	height: 80%;
}

.wrapper {
	min-width: 800px;
	max-width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
}

.header {
	height: 150px;
	background: #8470FF;
	text-align: center

}

h1 {
	text-align: center;

}

.container {
	margin-top: 2%;
	width: 100%;
	float: left;
	overflow: hidden;
}

.content {
	padding: 0 0 0 330px;
}

ul {
	list-style-image: url(../images/bullet.gif);
}


.left-sidebar {
	float: left;
	width: 250px;
	margin-left: -100%;
	position: relative;
	background: #fc5;
	padding-left: 50px;
	margin-top: 2%;
	height: 300px;
}

.left-sidebar a {
	text-decoration: none;
}

.logo {
	text-align: left;
	padding: 10px;
	float:left;
	width:130px;
	height: 130px;
}

.descr {
	float: left;
	width: 64%;
	text-align: left;
	padding-top: 50px;
	color: #d9eef7;
}

.welcome {
	text-align: right;
	width: 200px;
	font-weight: normal;
	float:left;
	font-size: 14px;
	padding-top: 1%;
}

.button {
	text-align: center;
	border-top: 1px solid #96d1f8;
	background: #0078a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top, #00adee, #0078a5);
	background: -ms-linear-gradient(top, #00adee, #0078a5);
	background: -o-linear-gradient(top, #00adee, #0078a5);
	padding: 8px 16px;
	-webkit-border-radius: 19px;
	-moz-border-radius: 19px;
	border-radius: 19px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: #d9eef7;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	width: 150px;
}


.button:hover {
	color: #dbdbdb;
	background: #00678e;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top, #0095cc, #00678e);
	background: -ms-linear-gradient(top, #0095cc, #00678e);
	background: -o-linear-gradient(top, #0095cc, #00678e);
}
.button:active {
	border-top-color: #dce9f2;
	background: #dce9f2;
}

#col1 {
	width: 70%;
	background: #fc5;
	text-align: left;
	border-style:hidden;
}

#col2 {
	width: 30%;
	background: #fc5;
	text-align: right;
	border-style:hidden;
}

#col1, #col2 {
	vertical-align: top;
	padding: 5px;
}

.footer{
	color:#cccccc;
	height: 50px;
	text-align: center;
	margin:50px;
}